/ChristieProjectorProtocol/obj/*
/ChristieProjectorProtocol/bin/*
/ChristieProjectorProtocol/SIMPLSharpLogs/*
/ChristieProjectorTcp/obj/*
/ChristieProjectorTcp/bin/*
/ChristieProjectorTcp/SIMPLSharpLogs/*
/ChristieProjectorSerial/obj/*
/ChristieProjectorSerial/bin/*
/ChristieProjectorSerial/SIMPLSharpLogs/*
